.container-about{
  height: 550px;
}

.about{
  height: inherit;
}

.container-about .left{
  height: inherit;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.row{
  height: inherit;
}