.congrats {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
    background-color: #FF0266;
}

.displaypoints{
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
}


.congrats h2 {
    text-align: center;
    font-size: 260%;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

.congrats a {
font-size: 75%;
    width: 250px;
}


.whatsappshare {
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    font-size: 80%;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 40px;
    background-color: #25D366;
    margin-bottom: 30px;
}

.facebookshare{
    background-color: #29487D;
    margin-bottom: 30px;
    font-size: 80%;
    justify-content: center;
    display: flex;
    color: white;
}

.twittershare{
    background-color: #55ACEE;
    font-size: 80%;
    justify-content: center;
    display: flex;
    color: white;


}