.verbs {
  margin-left: 1%;
  margin-right: 1%;
  height: 470px;
  margin-top: 40px;
}

@media (max-width: 600px) {
  .verbs {
    margin-top: 10px;
  }
}

.verbsfilling h1 {
  font-weight: bolder;
  height: 60px;
  font-size: 6rem;
  text-align: center;
  color: black;
}

@media (max-width: 600px) {
  .verbs h1 {
    height: 60px;
    font-size: 5rem;
  }
}

input {
  width: 70px;
  color: black;
  border-bottom: solid 6px #ff0266;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0;
  color: #ff0266;
  background-color: transparent;
  padding: 0;
}
