.containerimage {
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  height: 550px;
    margin-top: 20px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 0.5%;
  padding: 0;
  border: solid 14px #FF0266;
}


.box1 {
  margin-top: 140px;
  margin-bottom: 5px;
  height: 160px;
}

@media (max-width: 600px) {
.box1 {
    margin-bottom: 15%;
  }
}

.box2 {
  border: transparent solid 2px;
  background: rgba(255, 2, 102, 1);
  width: 170px;
  text-align: center;
  margin: auto;
}

.box1 h2 {
  color: white;
  font-size: 3em;
  text-shadow: 3px 3px black;
}

@media (max-width: 650px) {
.box1 h2 {
    margin-top: 15px;
    margin-left: 7%;
    margin-right: 7%;
  }
}


.box1 h5 {
    color: #FF0266;
    font-size: 1.6em;
    text-align: center;
}
