
.whole-container {
  margin-left: 5%;
  margin-right: 5%;
  height: 590px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .whole-container {
  margin-top: 20px;
  }
}

.whole-container h1 {
  font-weight: bolder;
  height: 60px;
  font-size: 6rem;
  text-align: center;
  color: black;
}

.whole-container .vowelspink{
  /*margin-left: 0;*/
  font-size: inherit;
  /*color: #FF0266;*/
  /*display: inline-block;*/
}

@media (max-width: 600px) {
  .whole-container h1 {
    height: 45px;
    font-size: 4rem;
  }
}

.container-verbs{
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}


@media (min-width: 1100px) {
  .container-verbs {
    height: 400px;
  }
}

.container-verbs h1{
  align-items: center;
}