body {
  background-color: #ffde03;
  font-style: roboto;
}

.navbar {
  background-color: transparent;
  border: none;
  font-weight: bolder;
  color: #ff0266;
  margin: 0%;
  font-size: 100%;
}

.navbar-default .navbar-brand {
  color: #ff0266;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 130%;
  margin-bottom: 8px;
}

.gamelink {
  background-color: #ff0266;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  padding-top: 22px;
  padding-bottom: 22px;
}

@media (max-width: 750px) {
  .navbar-default .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-collapse{
  border-top: 1px solid transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

/* START styling brom navbar brand */

.navbar-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

@media (max-width: 576px){
  .navbar-default .navbar-brand {
    padding: 0px;
    padding-left: 10px;
    margin: 0;
  }
}

.navbar-default .navbar-brand h1 {
  font-size: 135%;
  margin-top: 0;
  text-align: center;
  font-weight: 800;
  margin-bottom: 5px;
}


@media (max-width: 576px){
  .navbar-default .navbar-brand h1 {
    font-size: 100%;
    margin-bottom: 2px;

  }
  .navbar-default .navbar-brand h6 {
    font-size: 55%;
  }
}


.navbar-brand h6{
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 70%;
}

/* END styling brom navbar brand */
/* START styling brom navbar-right */

.navbar-right {
  margin: 19px;
}

.exitbutton {
  justify-content: center;
  align-items: center;
  font-size: 150%;
  color: white;

}

.exitbutton:hover {
  color: black;
}