
body {

background-color: #FFDE03;
font-style: roboto;
border-radius: none;
font-weight: light;
}

.form-control {
  background-color: transparent;
  border-bottom: solid 2px white;
  box-shadow: none;
  border: 0;

}

.form-group {
  border-bottom: solid 1px white;
  margin-top: 3%;
  margin-bottom: 1%;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 600px) {
  .form-group {
    margin-top: 7%;
  }
}


.checkbox {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 0%;
  margin-top: 0;
  color: #777;
}

.checkbox label, .radio label{
  font-weight: bold;
  font-size: 80%;
}

.form-control::-moz-placeholder {
  color: white;
  font-weight: bolder;
}
.form-control:-ms-input-placeholder {
  color: white;
  font-weight: bolder;

}
.form-control::-webkit-input-placeholder {
  color: white;
  font-weight: bolder;

}


h2 {
  color: #FF0266;
  margin-top: 3%;
  text-align: center;
  font-weight: bolder;
}


.btn {
  margin-top: 2%;
  font-weight: bold;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

.btnsignin {
border: 1px solid #FF0266;
color: #FFDE03;
background-color: #FF0266;
margin-top: 6%;

}

@media (max-width: 600px) {
  .btnsignin {
    margin-top: 15%;
  }
}

.btnsignup {
border: 1px solid blue;
color: #0336FF;
margin-top: 5px;
margin-bottom: 0%;
}

h6 {
  color: #0336FF;
  margin-top: 60px;
  text-align: center;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
