body {

background-color: #FFDE03;
font-style: roboto;
border-radius: none;
font-weight: light;
color: white;

}

.form-control {
  background-color: transparent;
  color: white;
  border: 0;
  box-shadow: none;
  border-bottom: solid 1px white;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;

}

.form-control::-moz-placeholder {
  color: white;
  font-weight: bolder;
}
.form-control:-ms-input-placeholder {
  color: white;
  font-weight: bolder;

}
.form-control::-webkit-input-placeholder {
  color: white;
  font-weight: bolder;

}

.fullscreen {
  margin: 10%;
}

.fullscreen h2 {
  color: #FF0266;
  margin: 5%;
  text-align: center;
  font-weight: bolder;
}


button {
  background-color: #FF0266;
  margin-top: 5%;
}
